@model Alumno
@{ Layout = "_Layout"; }

<h1>Registrar datos</h1>
<form method="post" action="~/Alumnos/AgregarAlumno">

    <label>Nombre:</label>
    <input id="txtdisplay" type="text" asp-for="Nombre" readonly />
    <br />
    <label>Apellido:</label>
    <input id="txtdisplay" type="number" asp-for="Apellido" readonly />
    <br />
    <label>Correo:</label>
    <input id="txtdisplay" type="text" asp-for="Correo" required />
    <br />
    @*<label>:</label>
        <input type="text" asp-for="" required />
        <br />
        <label>:</label>
        <input type="text" asp-for="" required />
        <br />*@

    @Html.ValidationSummary()

    <input type="submit" value="Aceptar" />
    @*<p style="text-align:center; margin:20px 0">
            <a href="javascript:window.history.back()">Cancelar</a>
        </p>*@
    <a href="~/Productos">
        <input type="button" value="Cancelar" />
    </a>
</form>