@model Alumno
@{
    ViewData["Title"] = "Editar";
    Layout = "_Layout";
}

<div class="section">
    <div class="add">
        <h2 class="d">Datos a editar</h2>
        <form class="edit" method="post" action="~/Home/Editar">
            <label>Nombre:</label>
            <input required asp-for="Nombre" type="text" /><br />
            <label>Apellido:</label>
            <input required asp-for="Apellido" type="text" /><br />
            <input asp-for="Id" hidden />
            @Html.ValidationSummary()

            <input type="submit" value="Guardar" />
        </form>
    </div>

    <a href="~/Home/Index">
        <input type="button" value="Cancelar" />
    </a>
</div>