@{ Layout = "_Layout"; }


<h1></h1>
<div>
    <br />
    <form action="~/Home/InicioSesion" method="post">
        <h2></h2>
        <div>
            <input type="submit" value="Iniciar Sesion" />
        </div>
    </form>
</div>