@model IEnumerable<proyecto1_web.Models.Alumno>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a href="~/Home/CerrarSesion">Cerrar sesión</a>
<br />
<a href="~/Home/Agregar">Agregar alumno</a>
<br />
<table>
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Apellido</td>
                <td>@item.Nombre</td>
                <td>@item.Correo</td>
                <td><a href=~/Home/Editar/@item.Id>Editar</a></td>
                <td><a href="#" onclick="eliminar(@item.Id)">Eliminar</a></td>
                <td><a href=~/Home/VerProgreso/@item.Id>Ver progreso</a></td>
            </tr>
        }
    </tbody>
</table>

<form method="post" action="~/Home/Eliminar">
    <input type="number" name="Id" id="idAlumno" hidden />
</form>
<script>
    function eliminar(id) {
        document.getElementById("idAlumno").value = id;
        document.querySelector("form").submit();
    }
</script>