@model Docente
@{ Layout = "_Layout"; }

<section class="section">
    <div class="is">
        <h2>Inicie sesión</h2>
        <form method="post" action="~/Home/InicioSesion">
            @*<label>Correo Electónico:</label>*@
            <input type="email" asp-for="Correo" required placeholder="Correo Electrónico" /><br />
            @*<label>Contraseña:</label>*@
            <input type="password" asp-for="Contrasena" required placeholder="Contraseña" /><br />

            @Html.ValidationSummary()

            <input type="submit" value="Entrar" /><br />
        </form>
    </div>
</section> 