@model IEnumerable<proyecto1_web.Models.Progreso>
@{
    ViewData["Title"] = "VerProgreso";
    Layout = "_Layout";
}

<label>Progreso del alumno</label>
<br />
<table>
    <thead>
        <tr>
            <th>Puntuación</th>
            <th>Intentos</th>
            <th>Fecha</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fecha</td>
                <td>@item.Intentos</td>
                <td>@item.Fecha</td>
            </tr>
        }
    </tbody>
</table>
<a href="~/Home/Index">
    <input type="button" value="Regresar"/>
</a>