@model IEnumerable<proyecto1_web.Models.ViewModels.ProgresoViewModel>
@{
    ViewData["Title"] = "VerProgreso";
    Layout = "_Layout";
}

<section class="sec">
    <a href="~/Home/Index" class="boton">
        <input type="button" value="Volver" />
    </a>
    <h2 class="p">Progreso del alumno</h2>
    <br />
    <table class="reportes">
        <thead>
            <tr>
                <th hidden></th>
                <th>Puntuación</th>
                <th>Tabla</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td hidden>@item.Id</td>
                    <td>@item.Puntuacion</td>
                    <td>@item.Intentos</td>
                    <td>@item.Fecha.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</section>