<html>
<head>
    <title></title>
    @*link href="~/estilos.css" rel="stylesheet"></link>*@
    <link href="~/Estilos.css" rel="stylesheet"/>
</head>
<body>
    <header></header>
    <main>
        @RenderBody()
    </main>
    <footer class="f">
        <p>
            UNIDAD 1 - Programación de Aplicaciones Móviles <br />
            Proyecto elaborado por: <br />
            Alondra Delgadillo & J. Esmeralda García
        </p>
    </footer>
</body>
</html>
