<html>
<head>
    <title></title>
    <link href="~/estilos.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>
            UNIDAD 1 - PROGRAMACIÓN DE APLICACIONES MOVILES, PROYECTO ELABORADO POR:
            <br />
            ALONDRA DELGADILLO & J. ESMERALDA GARCÍA 
        </p>
    </footer>
</body>
</html>
